#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

body{
  background-color: #60a5fa;
}

.button{
  border : 2px solid red;
  margin: 10px;
  font-weight: bolder;
  font-size: 18px;
}

span{
  font-size: 25px;
}

.button1:hover{
  background-color: rgb(59, 172, 59);
  color: aliceblue;
}


.button2:hover{
  background-color: red;
  color: aliceblue;
}